.dhl_shipping_package_info {
    border: 1px solid rgb(255, 204, 0);
    padding: 21px;
    margin: 20px 0;
}
.text-center {
    text-align: center;
}
.validation-failed {
    background: rgba(255,0,0,.05) !important;
    border-color: #ed8380 !important;
}