<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_block_html_before">
        <observer name="dhl_packaging_template" instance="Dhl\Shipping\Observer\ChangePackagingTemplateObserver" />
    </event>
</config>
