<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="dhlshipping" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">

                <!-- dhl shipping fields - general -->
                <label>DHL Shipping</label>
                <field id="fields_general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General Settings</label>
                    <frontend_model>Dhl\Shipping\Block\Adminhtml\System\Config\Form\Field\Heading</frontend_model>
                </field>

                <field id="api_type" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Type</label>
                    <frontend_model>Dhl\Shipping\Block\Adminhtml\System\Config\Form\Field\Disable</frontend_model>
                </field>

                <!-- default fields - general -->
                <field id="active" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>

                <!-- dhl shipping fields - general -->
                <field id="sandbox_mode" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sandbox Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="logging_enabled" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Logging</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="log_level" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Log Level</label>
                    <comment><![CDATA[Beware: Log level <em>Debug</em> will result in large log files.]]></comment>
                    <source_model>Dhl\Shipping\Model\Adminhtml\System\Config\Source\Loglevel</source_model>
                    <depends>
                        <field id="logging_enabled">1</field>
                    </depends>
                </field>

                <!-- dhl shipping fields - account -->
                <field id="fields_account" translate="label comment" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Account Data</label>
                    <comment>Basic account data as required in production mode</comment>
                    <frontend_model>Dhl\Shipping\Block\Adminhtml\System\Config\Form\Field\Heading</frontend_model>
                    <depends>
                        <field id="sandbox_mode">0</field>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="bcs_account_user" translate="label tooltip" type="text" sortOrder="81" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User</label>
                    <tooltip>DHL contract customers receive the access data to the DHL Business Customer Portal via DHL Paket sales.</tooltip>
                    <depends>
                        <field id="sandbox_mode">0</field>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="bcs_account_signature" translate="label tooltip" type="obscure" sortOrder="82" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Signature</label>
                    <tooltip>DHL contract customers receive the access data to the DHL Business Customer Portal via DHL Paket sales.</tooltip>
                    <depends>
                        <field id="sandbox_mode">0</field>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="bcs_account_ekp" translate="label tooltip" type="text" sortOrder="83" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>EKP</label>
                    <tooltip>DHL contract customers receive the access data to the DHL Business Customer Portal via DHL Paket sales.</tooltip>
                    <depends>
                        <field id="sandbox_mode">0</field>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="bcs_account_participation" type="select" translate="label" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Participation Numbers</label>
                    <frontend_model>Dhl\Shipping\Block\Adminhtml\System\Config\Form\Field\Participation</frontend_model>
                    <backend_model>Dhl\Shipping\Model\Adminhtml\System\Config\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="sandbox_mode">0</field>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="gl_pickup_number_sandbox" type="text" translate="label" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Pickup Account Number</label>
                    <validate>number</validate>
                    <depends>
                        <field id="sandbox_mode">1</field>
                        <field id="api_type">Global Label API</field>
                    </depends>
                </field>

                <field id="gl_pickup_number_production" type="text" translate="label" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Pickup Account Number</label>
                    <validate>number</validate>
                    <depends>
                        <field id="sandbox_mode">0</field>
                        <field id="api_type">Global Label API</field>
                    </depends>
                </field>

                <!-- dhl shipping fields - shipment -->
                <field id="fields_shipment_orders" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipment Orders</label>
                    <frontend_model>Dhl\Shipping\Block\Adminhtml\System\Config\Form\Field\Heading</frontend_model>
                </field>

                <field id="default_product" translate="label" type="select" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Product</label>
                    <source_model>Dhl\Shipping\Model\Adminhtml\System\Config\Source\Product</source_model>
                    <depends>
                        <field id="api_type">Global Label API</field>
                    </depends>
                </field>

                <field id="label_size" translate="label" type="select" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label Size</label>
                    <source_model>Dhl\Shipping\Model\Adminhtml\System\Config\Source\LabelSize</source_model>
                    <depends>
                        <field id="api_type">Global Label API</field>
                    </depends>
                </field>

                <field id="page_size" translate="label" type="select" sortOrder="103" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Size</label>
                    <source_model>Dhl\Shipping\Model\Adminhtml\System\Config\Source\PageSize</source_model>
                    <depends>
                        <field id="api_type">Global Label API</field>
                    </depends>
                </field>

                <field id="page_layout" translate="label" type="select" sortOrder="104" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Layout</label>
                    <source_model>Dhl\Shipping\Model\Adminhtml\System\Config\Source\PageLayout</source_model>
                    <depends>
                        <field id="page_size">0</field>
                        <field id="api_type">Global Label API</field>
                    </depends>
                </field>

                <field id="bcs_shipment_printonlyifcodeable" translate="label" type="select" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Print Only If Codeable</label>
                    <tooltip><![CDATA[If set to <em>Yes</em>, shipping order requests will only return a label if the DHL delivery address verification succeeds.]]></tooltip>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <!-- default fields - shipment -->
                <field id="sallowspecific" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="showmethod" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Displayed Error Message</label>
                </field>

                <!-- dhl shipping fields - shipment -->
                <field id="shipment_dhlmethods" translate="label tooltip comment" type="multiselect" sortOrder="150" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Shipping Methods for DHL Shipping</label>
                    <tooltip>Select shipping methods for rate calculation in checkout.</tooltip>
                    <comment>These shipping methods will be processed with DHL Shipping.</comment>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="shipment_dhlcodmethods" translate="label tooltip" type="multiselect" sortOrder="160" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cash On Delivery Payment Methods for DHL Shipping</label>
                    <tooltip>These payment methods will be treated as COD methods during shipping order requests.</tooltip>
                    <source_model>Magento\Payment\Model\Config\Source\Allmethods</source_model>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <!-- dhl shipping fields - contact -->
                <field id="fields_contact" translate="label" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Contact Information</label>
                    <frontend_model>Dhl\Shipping\Block\Adminhtml\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="bcs_shipper_contact_company_addition" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Name of Company (2)</label>
                </field>
                <field id="bcs_shipper_contact_dispatchinfo" translate="label" type="text" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Dispatching Information</label>
                </field>
                <field id="bcs_shipper_contact_person" translate="label" type="text" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>First Name and Last Name of Contact Person</label>
                </field>

                <!-- dhl shipping fields - bank data -->
                <field id="fields_bank_data" translate="label" sortOrder="280" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Bank Data</label>
                    <frontend_model>Dhl\Shipping\Block\Adminhtml\System\Config\Form\Field\Heading</frontend_model>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="bcs_bankdata_account_owner" translate="label" type="text" sortOrder="290" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Account Owner</label>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="bcs_bankdata_bankname" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Bank Name</label>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="bcs_bankdata_iban" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>IBAN</label>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="bcs_bankdata_bic" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>BIC</label>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="bcs_bankdata_note1" translate="label" type="text" sortOrder="330" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Reason for Payment</label>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="bcs_bankdata_note2" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Reason for Payment (2)</label>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <field id="bcs_bankdata_account_reference" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Account Reference to Customer Profile</label>
                    <depends>
                        <field id="api_type">Geschäftskunden API</field>
                    </depends>
                </field>

                <!-- dhl shipping fields - other -->
                <field id="fields_others" translate="label" sortOrder="360" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Others</label>
                    <frontend_model>Dhl\Shipping\Block\Adminhtml\System\Config\Form\Field\Heading</frontend_model>
                </field>

                <!-- default fields -->
                <field id="sort_order" translate="label" type="text" sortOrder="370" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
